<!-- views/public-pages/index.hbs -->
<h1>{{welcomeTitle}}</h1>
<p class="lead">{{leadText}}</p>

<div class="actions">
    <a class="btn" href="https://apps.apple.com/app" target="_blank" rel="noopener">
        {{downloadAppText}}
    </a>
</div>

<div class="subactions">
    <a class="btn-small" href="https://github.com/Drogonov/brewly-ios" target="_blank" rel="noopener">
        {{githubIosText}}
    </a>
    <a class="btn-small" href="https://github.com/Drogonov/brewly-swagger" target="_blank" rel="noopener">
        {{githubSwaggerText}}
    </a>
    <a class="btn-small" href="https://github.com/Drogonov/brewly-backend" target="_blank" rel="noopener">
        {{githubBackendText}}
    </a>
</div>